$blue: #16213E;
$blue-transparent: rgba(15,52,96,0.7);

$font-color: #eee;

$pink: #E94560;
$border-pink: 0.3rem solid $pink;
$border-pink-smaller: 0.2rem solid $pink;
$linear-gradient-default: linear-gradient(to bottom right, rgba(22,33,62,0.8), 80%, rgba(233, 69, 96,0.5));